
{% extends 'common.html' %}

{% block content %}
<!-- -------- -->
<!-- MAIN APP -->
<!-- -------- -->
<section class="mainApp">
	{% include 'left_panel.html' %}
	
		<h3 id="chat">Select a chat to start messaging</h3>

		{% if request.user.name == none %}
		<div id="size" class="formbold-main-wrapper" style="position: absolute; margin-left: 48em; margin-top: 22em;">
			<!-- Name Asking -->
			<div class="w-full">
			  <div class="formbold-form-wrapper" style="display: block;width: 125%;">
				<div class="formbold-form-header">
				  <h3>Account Name</h3>
				</div>
				<form
				  action=""
				  method="POST"
				  class="formbold-chatbox-form"
				  enctype="multipart/form-data"
				>
				{% csrf_token %}
				  <div class="formbold-mb-5">
					<label for="name" class="formbold-form-label"> Set a name for your account</label>
					<div class="formbold-form-input" style="border: 1px solid #e0e0e0; width: 93.5%;">
					  {{set_name.name}}
					</div>
				  </div>
				  <div>
					<button name="set_name" class="formbold-btn w-full">Submit</button>
				  </div>
				</form>
			  </div>
			</div>
		</div>
		{% endif %}
	
</section>

<!-- ---------------------- -->
<!-- MENU AND OVERLAY STUFF -->
<!-- ---------------------- -->

<!-- MENU -->
{% include 'overlay.html' %}
{% endblock %}


