{% block right_panel %}
<div class="rightPanel">
    <div class="topBar">
        <div class="rightSide">
            <button class="tbButton search">
                <i class="material-icons">&#xE8B6;</i>
            </button>
            <button class="tbButton otherOptions">
                <i class="material-icons">more_vert</i>
            </button>
        </div>
        
        <a href="{% url 'home' %}"><button class="go-back">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>Go back</title><path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z" /></svg>
        </button>
        </a>

        <div class="leftSide">
        <p class="chatName">{{room.name}} <span>@{{room.username}}</span></p>
        {% if online_live.online == True %}
            <p class="chatStatus">Online</p>
        {% else %}
            <p class="chatStatus">Active {{room.last_seen|timesince}} ago</p>
        {% endif %}
        </div>
        
    </div>
    
    <div class="convHistory userBg" id="">
        <!-- CONVERSATION GOES HERE! -->
        <div id="chat_messages">
        {% for message in chat_messages %}
        {% if message.author == user %}
            <div id="" class="msg messageSent">
                {{message.body}}
                <i class="material-icons readStatus">done_all</i>
                <span class="timestamp">00:01</span>
            </div>
        {% else %}
            <div class="msg messageReceived">
                {{message.body}}
                <span class="timestamp">00:00</span>
            </div>
        {% endif %}
        {% endfor %}
    </div>
        
    </div>
    
    <div class="replyBar">
        <button class="attach">
            <i class="material-icons d45">attach_file</i>
        </button>
        
         
        <form id="chat_message_form" method="post"
                hx_ext="ws"
                ws-connect="/ws/room/"
                ws-send
                _="on htmx:wsAfterSend reset() me">
            {% csrf_token %}
            {{form}}
        </form>

        <div class="emojiBar">
            <div class="emoticonType">
            <button id="panelEmoji">Emoji</button>
            <button id="panelStickers">Stickers</button>
            <button id="panelGIFs">GIFs</button>
            </div>
            
            
            <!-- Emoji panel -->
            <div class="emojiList">
                <button id="smileface" class="pick">
            </button>
                <button id="grinningface" class="pick"></button>
                <button id="tearjoyface" class="pick"></button>
                <button id="rofl" class="pick"></button>
                <button id="somface" class="pick"></button>
                <button id="swfface" class="pick"></button>
            </div>
            
            <!-- the best part of telegram ever: STICKERS!! -->
            <div class="stickerList">
                <button id="smileface" class="pick">
            </button>
                <button id="grinningface" class="pick"></button>
                <button id="tearjoyface" class="pick"></button>
            </div>
        </div>
        
        <div class="otherTools">
            <button class="toolButtons emoji">
                <i class="material-icons">face</i>
            </button>
            
            <button class="toolButtons audio">
                <i class="material-icons">mic</i>
            </button>
        </div>
    </div>
</div>
{% endblock %}