<div id="chat_messages" hx-swap-oob="beforeend">
    <div class="fade-in-up">
        {% if message.author == user %}
        <div id="message-{{ message.id }}" class="msg messageSent {% if message.image %}image-message{% elif message.audio %}audio-message{% endif %}" style="display: block;">
            {% if message.image %}
                <div class="image-container">
                    <div class="dropdown image-dropdown">
                        <button id="msg_crud">
                            <i class="material-icons button">more_vert</i>
                        </button>
                        <div class="dropdown-content">
                            <div style="width: -webkit-fill-available;">
                                <a id="editfont" onclick="openEditModal('{{ message.id }}', '{{ message.body|escapejs }}')">
                                <img id="edit" src="/static/images/edit.png" alt="">
                                Edit</a>
                            </div>        
                            <div style="width: -webkit-fill-available;">
                                <a id="deletefont" onclick="showPopup('{{ message.id }}')">
                                <img id="trash" src="/static/images/trash.png" alt="">
                                Delete</a>
                            </div>
                        </div>
                    </div>
                    <img src="{{ message.image.url }}" alt="Chat Image" class="chat-image" />
                    {% if message.body %}
                    <span class="message-body image-caption">{{ message.body }}</span>
                    {% endif %}
                </div>
            {% elif message.audio %}
                <div class="audio-container">
                    <div class="dropdown audio-dropdown">
                        <button id="msg_crud">
                            <i class="material-icons button">more_vert</i>
                        </button>
                        <div class="dropdown-content">
                            <div style="width: -webkit-fill-available;">
                                <a id="deletefont" onclick="showPopup('{{ message.id }}')">
                                <img id="trash" src="/static/images/trash.png" alt="">
                                Delete</a>
                            </div>
                        </div>
                    </div>
                    <audio controls src="{{ message.audio.url }}" class="chat-audio"></audio>
                    {% if message.body %}
                    <span class="message-body audio-caption">{{ message.body }}</span>
                    {% endif %}
                </div>
            {% else %}
                <div class="dropdown">
                    <button id="msgDH_crud">
                        <i class="material-icons button">more_vert</i>
                    </button>
                    <div class="dropdown-content">
                        <div style="width: -webkit-fill-available;">
                            <a id="editfont" onclick="openEditModal('{{ message.id }}', '{{ message.body|escapejs }}')">
                            <img id="edit" src="/static/images/edit.png" alt="">
                            Edit</a>
                        </div>        
                        <div style="width: -webkit-fill-available;">
                            <a id="deletefont" onclick="showPopup('{{ message.id }}')">
                            <img id="trash" src="/static/images/trash.png" alt="">
                            Delete</a>
                        </div>
                    </div>
                </div>
                {% if message.body %}
                <span class="message-body">{{ message.body }}</span>
                {% endif %}
            {% endif %}
            <i class="material-icons {% if message.is_seen %}blue-tick{% else %}grey-tick{% endif %}">done_all</i>
            <span class="timestamp">{{ message.time }}</span>
        </div>
        {% else %}
        <div id="message-{{ message.id }}" class="msg messageReceived {% if message.image %}image-message{% elif message.audio %}audio-message{% endif %}">
            {% if message.image %}
                <div class="image-container">
                    <img src="{{ message.image.url }}" alt="Chat Image" class="chat-image" />
                    {% if message.body %}
                    <span class="message-body image-caption">{{ message.body }}</span>
                    {% endif %}
                </div>
            {% elif message.audio %}
                <div class="audio-container">
                    <audio controls src="{{ message.audio.url }}" class="chat-audio"></audio>
                    {% if message.body %}
                    <span class="message-body audio-caption">{{ message.body }}</span>
                    {% endif %}
                </div>
            {% else %}
                {% if message.body %}
                <span class="message-body">{{ message.body }}</span>
                {% endif %}
            {% endif %}
            <span class="timestamp">{{ message.time }}</span>
        </div>
        {% endif %}
    </div>
    
    <style>
        @keyframes fadeInAndUp {
            from { opacity: 0; transform: translateY(12px); }
            to { opacity: 1; transform: translateY(0px); }
        }
        .fade-in-up {
            animation: fadeInAndUp 0.6s ease;
        }
        .audio-container {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .chat-audio {
            max-width: 200px;
            margin: 5px 0;
        }
        .audio-caption {
            font-size: 0.9em;
            color: #555;
        }
    </style>
    
    <script>scrollToBottom()</script>
</div>