{% block left_panel %}
<div class="leftPanel">
    <header>
        <button class="trigger" style="margin-top: 18px;">
            <svg viewBox="0 0 24 24">
                <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
            </svg>
        </button>
        <form action="" method="post" class="search-form">
            {% csrf_token %}
            <input class="searchChats" id="searchInput" name="search" type="search" 
                   placeholder="Search username" value="{{ search_query|default:'' }}"/>
        </form>
    </header>    
    {% include 'home/partials/search_results.html' %}
    <div class="chats" id="recentChats">
        {% for chat in recent_chats %}
            <a href="{% url 'chatroom' chat.group_name %}">
                <div class="chatButton">
                    <div class="chatInfo">
                        <div class="">
                            <img class="image" src="{{ chat.avatar_url }}" alt="">
                        </div>
                        <p class="name">
                            {{ chat.display_name }}
                        </p>
                        {% if chat.last_message %}
                        <p class="message">{{ chat.last_message.body|truncatechars:15 }}</p>
                        {% else %}
                        <p class="message">No messages yet</p>
                        {% endif %}
                    </div>
                    <div class="status onTop {% if chat.online_status %}online{% endif %}">
                        {% if chat.last_message %}
                            <p class="date" data-timestamp="{{ chat.last_message.created|date:'c' }}"></p>
                        {% endif %}
                        {% if chat.unread_count > 0 %}
                        <span class="unread-count">{{ chat.unread_count }}</span>
                        {% endif %}
                        {% if chat.is_seen is not None %}
                        <i style="position: absolute;right: 7px;top: 37px;" 
                           class="material-icons {% if chat.is_seen %}blue-tick{% else %}grey-tick{% endif %}">done_all</i>
                        {% endif %}
                    </div>
                </div>
            </a>
            <hr>
        {% empty %}
            <p>No recent chats</p>
        {% endfor %}
    </div>
</div>
{% endblock %}