
{% block left_panel %}
<div class="leftPanel">
    <header>
        <button class="trigger">
            <svg viewBox="0 0 24 24">
                <path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
            </svg>
        </button>
        <form action="" method="post">
            {% csrf_token %}
            <input class="searchChats" name="search" type="search" placeholder="Search username"/>
        </form>
    </header>    
    <div class="chats">
        {% for chat in recent_chats %}
            <a href="{% url 'chatroom' chat.group_name %}">
                <div class="chatButton {% if chat.group_name == chatroom_name %}active{% endif %}">
                    <div class="chatInfo">
                        <div class="">
                            <img class="image" src="{{ chat.avatar_url }}" alt="">
                        </div>
                        <p class="name">
                            {{ chat.display_name }}
                        </p>
                        {% if chat.last_message %}
                        <p class="message">{{ chat.last_message.body|truncatechars:30 }}</p>
                        {% else %}
                        <p class="message">No messages yet</p>
                        {% endif %}
                    </div>
                    <div class="status onTop {% if chat.online_status %}online{% endif %}">
                        {% if chat.last_message %}
                        <p class="date">{{ chat.last_message.created|timesince }}</p>
                        {% endif %}
                        {% if chat.unread_count > 0 %}
                        <span class="unread-count">{{ chat.unread_count }}</span>
                        {% endif %}
                        {% if chat.is_seen is not None %}  <!-- Only show for authenticated user's messages -->
                        <i style="position: absolute;right: 8px;top: 42px;" class="material-icons {% if chat.is_seen %}blue-tick{% else %}grey-tick{% endif %}">done_all</i>
                        {% endif %}
                        <svg class="fixed" viewBox="0 0 24 24">
                            <path d="M16,12V4H17V2H7V4H8V12L6,14V16H11.2V22H12.8V16H18V14L16,12Z" />
                        </svg>
                    </div>
                </div>
            </a>
            <hr>
        {% empty %}
            <p>No recent chats</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
