<section class="config2">
	<section class="configSect">
		<div class="profile">
		<p class="confTitle">Settings</p>
		
		<div class="image">
			<img class="image" src="/media/wwe_ZdFHstt.jpg" alt="">
		</div>
		
		<div class="side">
		<p class="name">{{other_user.name}}</p>
		{% if online_live.online == True %}
            <p class="pStatus">Online</p>
        {% else %}
            <p class="pStatus">Active {{other_user.last_seen|timesince}} ago</p>
        {% endif %}
		</div>


		<style>
			textarea{
				border: none;
				width: 435px;
				height: 125px;
			}

			.formbold-mb-5 {
			margin-bottom: 20px;
			}
			.formbold-pt-3 {
			padding-top: 12px;
			}
			.formbold-main-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			}

			.formbold-editmain-wrapper {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		
			.formbold-form-wrapper {
			margin: 0 auto;
			max-width: 550px;
			width: 100%;
			background: white;
			border: 1px solid #e0e0e0;
			border-radius: 8px;
			display: none;
			}

			.formbold-form-editwrapper {
				margin: 0 auto;
				max-width: 550px;
				width: 100%;
				background: white;
				border: 1px solid #e0e0e0;
				border-radius: 8px;
				display: none;
			}
		
			.formbold-form-wrapper.actives {
			display: block;
			}

			.formbold-form-editwrapper.activesedit {
				display: block;
			}
		
			.formbold-form-label {
			display: block;
			font-weight: 500;
			font-size: 16px;
			color: #07074d;
			margin-bottom: 12px;
			}
			.formbold-form-label-2 {
			font-weight: 600;
			font-size: 20px;
			margin-bottom: 20px;
			}
		
			.formbold-form-input {
			width: 95%;
			padding-top: 12px;
			padding-left: 24px;
			padding-bottom: 12px;
			border-radius: 6px;
			border: 1px solid #e0e0e0;
			background: white;
			font-weight: 500;
			font-size: 16px;
			color: #6b7280;
			outline: none;
			resize: none;
			}
			.formbold-form-input:focus {
			border-color: #6a64f1;
			box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
			}
		
			.formbold-btn {
			text-align: center;
			font-size: 16px;
			border-radius: 6px;
			padding: 14px 32px;
			border: none;
			font-weight: 600;
			background-color: #5c7b97;
			color: white;
			cursor: pointer;
			}
			.formbold-btn:hover {
			box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
			}
		
			.formbold--mx-3 {
			margin-left: -12px;
			margin-right: -12px;
			}
			.formbold-px-3 {
			padding-left: 12px;
			padding-right: 12px;
			}
			.flex {
			display: flex;
			}
			.flex-wrap {
			flex-wrap: wrap;
			}
			.w-full {
			width: 100%;
			}
			.formbold-form-header {
			background: #5c7b97;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 12px 36px;
			border-radius: 8px 8px 0px 0px;
			}
			.formbold-form-header h3 {
			font-weight: 700;
			font-size: 20px;
			color: white;
			}
			.formbold-form-header button {
			color: white;
			background: transparent;
			border: none;
			}
			.formbold-chatbox-form {
			padding: 32px 36px;
			}
			.formbold-action-buttons {
			max-width: 550px;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-top: 48px;
			}
			.formbold-action-btn {
			background: #6a64f1;
			color: white;
			border-radius: 50%;
			margin-left: 20px;
			border: none;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			}
			.formbold-editaction-btn {
				background: #6a64f1;
				color: white;
				border-radius: 50%;
				margin-left: 20px;
				border: none;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.pad{
				padding: 48px;
			}
		
			.formbold-action-btn .formbold-cross-icon {
			display: none;
			}
			.formbold-editaction-btn .formbold-cross-icon {
				display: none;
			}
		
			.formbold-action-btn.actives .formbold-cross-icon {
			display: block;
			}
		
			.formbold-action-btn.actives .formbold-chat-icon {
			display: none;
			}

			.formbold-editaction-btn.activesedit .formbold-cross-icon {
				display: block;
			}
			
			.formbold-editaction-btn.activesedit .formbold-chat-icon {
				display: none;
			}
			@media (min-width: 540px) {
			.sm\:w-half {
				width: 50%;
			}
			}
		</style>


	</div>
	</section>
	
	<section class="configSect second">
		
		<!-- PROFILE INFO SECTION -->
		<p class="confTitle">Your Info</p>
		
		<div class="information">
			<ul>
				<li>Username: <span class="blue username">@{{other_user.username}}</span></li>
				<li>Bio: <span class="blue">{{other_user.bio}}</span></li>
				<li>Phone Number: <span class="blue phone">{{other_user.phone_number}}</span></li>
			</ul>
		</div>
		
		<!-- NOTIFICATIONS SECTION -->
		<p class="confTitle">Notifications</p>
		
		<div class="optionWrapper deskNotif">
			<input type="checkbox" id="deskNotif" class="toggleTracer" checked="">

			<label class="check deskNotif" for="deskNotif">
				<div class="tracer"></div>
			</label>
			<p>Enable Desktop Notifications</p>
		</div>
		
		<div class="optionWrapper showSName">
			<input type="checkbox" id="showSName" class="toggleTracer">

			<label class="check" for="showSName">
				<div class="tracer"></div>
			</label>
			<p>Show Sender Name</p>
		</div>
		
		<div class="optionWrapper showPreview">
			<input type="checkbox" id="showPreview" class="toggleTracer">

			<label class="check" for="showPreview">
				<div class="tracer"></div>
			</label>
			<p>Show Message Preview</p>
		</div>
		
		<div class="optionWrapper playSounds">
			<input type="checkbox" id="playSounds" class="toggleTracer">

			<label class="check" for="playSounds">
				<div class="tracer"></div>
			</label>
			<p>Play Sounds</p>
		</div>
		
		
		<p class="confTitle">Other Settings</p>
		
			<div class="optionWrapper">
				<input type="checkbox" id="checkNight" class="toggleTracer">
				
				<label class="check DarkThemeTrigger" for="checkNight">
					<div class="tracer"></div>
				</label>
				<p>Dark Theme</p>
			</div>
		
	</section>
</section>	
